@using TriThucOnline_TTN.Models;
@model List<THELOAI>

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
        <tr>
            <th>Mã thể loại:</th>
            <th>Tên thể loại:</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaTL</td>
                <td>@item.TenTL</td>
                
            </tr>
        }
    </tbody>
</table>

