@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<TriThucOnline_TTN.Models.KHUYENMAI>

@{
    ViewBag.Title = "Quản lý khuyến mãi";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Register/css/style.css">

<h2>Quản lý khuyến mãi</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="@Url.Action("Create")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Thêm khuyến mãi</a>
</p>
<div id="Xoa_KM">
    @{ Html.RenderPartial("IndexPartial");}
</div>
@* Tạo link liên kết các trang*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
    <script>
        function delete_article(Id) {
            var answer = confirm("Bạn có chắc muốn xóa khuyến mãi này?");
            if (answer) {
                //alert('Xác nhận xóa');
                Remove(Id);
            }
        }

        function Remove(Id) {
            $.ajax({
                type: 'POST',
                url: '/QuanLyKhuyenMai/Remove',
                data: { id: Id },
                success: function (data) {
                    $.post(data.Url, function (partial) {
                        $("#Xoa_KM").html(partial);
                    });
                }
            });
        }
    </script>
    <script>

        function ChiTietKM(makm) {
            $.ajax({
                type: 'POST',
                url: '/QuanLyKhuyenMai/XemCTKM',
                data: { makm: makm },
                success: function (data) {
                    $.post(data.Url, function (partial) {
                        $("#All_Dialog").html(partial)
                    });
                }
            });
            $("#myModal").modal();
        }
    </script>
    @* đây là cái bảng dialog *@
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chi tiết khuyến mãi</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @* nội dung bên trong all_dialog *@
                    <div id="All_Dialog"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>